<!-- Базовый шаблон -->
{% extends 'base.html'%}

{% block content %}
    <!-- Фильтрация -->
    <form method="get" class="filter-form">
        <label>
            <input type="text" name="sender" placeholder="Отправитель" value="{{ request.GET.sender }}">
        </label>
        <label>
            <input type="text" name="receiver" placeholder="Получатель" value="{{ request.GET.receiver }}">
        </label>

        <label>
            <select name="status">
            <option value="">Все статусы</option>
            <option value="AWAITING" {% if request.GET.status == 'AWAITING' %}selected{% endif %}>Ожидает</option>
            <option value="ACCEPTED" {% if request.GET.status == 'ACCEPTED' %}selected{% endif %}>Принята</option>
            <option value="" {% if request.GET.status == 'REJECTED' %}selected{% endif %}>Отклонена</option>
        </select>
        </label>

        <button type="submit">Фильтровать</button>
</form>
    <div class="offers-header">
        <h2 class="offers-title">Предложения на обмен</h2>

        <!-- Ссылка на страницу  -->
        <a href="{% url 'my_list_offers' %}" class="my-offers-link">Мои предложения</a>
    </div>

    <!-- Шаблон на список предложений -->
    {% include 'ads/includes/listOffers.html' %}
{% endblock %}
