<form action="" method="post" class="form">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error">
                    {{ field.errors }}
                </div>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit" class="submit-button">Отправить</button>
</form>
